* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor principal */
.contenedor {
    min-height: 100vh;
}

/* Estilo de la cabecera */
header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Estilo del contenido principal */
main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

/* Estilo de la barra lateral */
aside {
    width: 20%;
    background: #f4f4f4;
    padding: 1rem;
}

/* Estilo del artículo */
article {
    width: 75%;
    padding: 1rem;
}

article img .img-main {
    min-height: 125px;
    min-width: 250px;
}

/* Estilo del pie de página */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}